{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="content-box-landingpage">
        <div class="left-container-landingpage">
            <h1 style="width: 60%; font-size: 3rem;">Seja bem-vinda(o) ao Sistema de Gerenciamento da Linguiça Dona Alvina</h1>
            <button class="login-btn">ENTRAR</button>
        </div>
        <div style="width: 60%;">
            <img class="logo-img-landingpage" width="400" src="{% static 'images/logo-dona-alvina.png' %}" alt="">
        </div>
    </main>
{% endblock content %}
