{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <h2 class="login-title">Login</h2>
    <form method="post" class="login-form">
        {% csrf_token %}

        <h2>Usuário:</h2>
        <p>{{ form.username }}</p>
        <h2>Senha:</h2>
        <p>{{ form.password }}</p>
        <button type="submit" class="login-button">Entrar</button>
    </form>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}
