{% extends 'base.html' %}
{% block content %}
<a href="{% url 'home:landing_page' %}" class="return-btn">VOLTAR</a>
<main class="navigation-main">
    <div class="module-container">
        <a href="{% url 'vendas:display_vendas' %}">Gerenciar Vendas</a>
        <p>Neste módulo você conseguirá adicionar, atualizar, visualizar ou deletar vendas</p>
    </div>
    <div class="module-container">
        <a href="{% url 'vendas:display_relatorios' %}">Relatórios</a>
        <p>Neste módulo você terá acesso a relatórios detalhados de suas vendas</p>
    </div>
</main>
{% endblock content %}