{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'home:navigation_page' %}" class="return-btn">VOLTAR</a>
<main class="display-vendas-main">
    <h2 style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px; color: #7c3e30; font-size: 2.5rem;">Vendas</h2>
    <form method="get" action="{% url 'vendas:display_vendas' %}">
        <input class="search-input" type="text" name="search" placeholder="Pesquisar por nome ou data..." />
        <button class="search-btn" type="submit">Pesquisar</button>
    </form>    
    <div class="vendas-container">
        <a href="{% url 'vendas:register_venda' %}" class="add-register-button">Adicionar Venda</a>
        {% if vendas %}
            {% for venda in vendas %}
                <div class="venda-module">
                    <a href="#">
                        {{ venda | default:"Nome não registrado" }}
                    </a>
                    <button onclick="abrirModal({{ venda.id }})">Ver Detalhes</button>
                </div>
                <div id="modalVenda{{ venda.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="fecharModal({{ venda.id }})">&times;</span> 
                        <p class="modal-text"><strong>Cliente:</strong> {{ venda.nome_cliente }}</p>
                        <p class="modal-text"><strong>Método Pagamento:</strong> {{ venda.metodo_pagamento }}</p>
                        <p class="modal-text"><strong>Valor por kg:</strong> {{ venda.valor_un_kg }}</p>
                        <p class="modal-text"><strong>Quantidade:</strong> {{ venda.qtd_kgs }}</p>
                        <p class="modal-text"><strong>Data:</strong> {{ venda.data_venda|date:"d/m/Y" }}</p>
                        <p class="modal-text"><strong>Descrição:</strong> {{ venda.descricao_venda }}</p>
                        <p class="modal-text" style="margin-bottom: 20px;"><strong>Valor Total:</strong> {{ venda.valor_total }}</p>
                        <a class="modal-btn-edit" href="{% url 'vendas:update_venda' venda.id %}">Editar Venda</a>
                        <a class="modal-btn-delete" href="{% url 'vendas:delete_venda' venda.id %}">Excluir Venda</a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
                
            <p style="font-family: Arial, Helvetica, sans-serif; color: #7c3e30; font-size: 1.5rem; margin-top: 10px;">Nenhuma venda encontrada...</p>

        {% endif %}
    </div>
</main>
{% endblock content %}