*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #cbb28d;
}

.return-btn{
    color: #7c3e30;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
}

.return-btn:hover{
    color: #7a564d;
}

.main-navbar{
    background-color: #7c3e30;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.main-title-navbar{
    font-family: monospace;
    font-size: 2rem;
    color: #fff;
}

.content-box-landingpage{
    display: flex;
    padding-top: 2rem;
}

.left-container-landingpage{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    flex-direction: column;
}

.left-container-landingpage a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 40%;
    height: 15%;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    background-color: #7c3e30;
    color: #fff;
    border: none;
    transition: 0.3s;
    font-family: monospace;
    text-decoration: none;
}

.left-container-landingpage a:hover{
    background-color: #a06d62;
    cursor: pointer;
}

/* NAVIGATION PAGE STYLES */

.navigation-main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.module-container{
    background-color: #9c6c54;
    width: 80%;
    margin: 20px 0;
    padding: 25px 20px;
    border-radius: 20px;
    border: 3px solid #573a2b;
}

.module-container a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    transition: 0.3s;
}

.module-container a:hover{
    color: #af9797;
    cursor: pointer;
}

.module-container p{
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

/* DISPLAY VENDAS PAGE STYLES */

.display-vendas-main{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.vendas-container{
    background-color: #fff;
    width: 70%;
    height: 450px;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px 30px;
}

.venda-module{
    background-color: #9c6c54;
    border: 3px solid #573a2b;
    border-radius: 10px;
    padding: 10px 10px;
}

.venda-module a{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
}

.venda-module a:hover{
    color: #cc9e9e;
}